:root{
    --main: #FB1986;
    --sec: #1FC3D4;
    --acc: #673C34;
}

nav{
    font-family: "Madimi One";
}
h1, h2{
    font-family: "Madimi One";
}
body{
    font-family: "Poppins";  
}
/* css header */
.header-custom{
    background:linear-gradient(#330f28, transparent), url(https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F19%2F2018%2F04%2F03%2Fkrispy-kreme-simpsons-doughnut.jpg&q=60);
    background-size: cover;
    background-position: center;
    image-resolution:initial;
}

.header-customAnnunci{
    background:linear-gradient(#330f28, transparent), url(https://media.tenor.com/aQEof9cbEA4AAAAC/the-simpsons-hell.gif);
    background-size: cover;
    background-position: contain;
    image-resolution: initial;
}

.header-customChisiamo{
    background:linear-gradient(#330f28, transparent), url(https://akns-images.eonline.com/eol_images/Entire_Site/2014810/rs_1024x759-140910103233-1024.fg19.cm.91014.jpg?fit=around%7C1024:759&output-quality=90&crop=1024:759;center,top);
    background-size: cover;
    background-position: center;
}

.h1header{
   -webkit-text-stroke: 5px #000000
}

.h2header{
   -webkit-text-stroke: 4px #000000;
   
  
}

.h1color{
    color: var(--sec);
}

.h2color{
    color: var(--main)
}
.h1color:hover{
    color: var(--main);
}

.h2color:hover{
    color: var(--sec);
}

.h1header, .h2header{
    animation-name: title;
    animation-duration: 3s;
    animation-iteration-count: 1;
  }

  @keyframes title {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
  }

.btnOrder{
    background-color: var(--sec);
    font-family: "Madimi One";
    border-radius: 50px;
    font-size: 25px;
    color: var(--main);
    margin-top: 100px;
    border: none;
    box-shadow: 0px 0px 2px 5px var(--main) ;
    -webkit-text-stroke: 1px #000000;
}

.btnOrder:hover{
    background-color: var(--main);
    color: var(--sec);
    box-shadow: 0px 0px 2px 5px var(--sec);

}
/* css navbar */
.navbar-brand{
    color: var(--sec);
}

.nav-link,  .bi-person-fill, .bi-three-dots-vertical{
    color: var(--main);
}

.navbar-brand:focus, .nav-link:focus, .bi-person-fill:focus, .bi-three-dots-vertical:focus{
    color: var(--main) !important;
}

.navbar-toggler:focus{
    border:none !important;
    box-shadow:none;
}

.navbar-brand{
    font-size: 25px;
}

.navbar-nav{
    padding-right: 100px;
}

.navbar-brand:hover{
    color: var(--main)
}

.nav-link:hover{
    color: var(--sec);
}

.list-link{
    font-size: 25px;
 }
 
.navbarScroll{
    background-color: var(--acc);
    transition: 1s;
}

/* spazio e dopo titolo + carousel */
.custom-vh{
    height: 150px;
}

.swiperTitle{
    color: var(--main);
    justify-content: center;
    border: none;
    margin-top: 10vh;
    -webkit-text-stroke: 4px #000000;
}

.swiperTitle:hover{
    color: var(--sec);
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  
/*  counter circular progress */
.container1-circular, .container2-circular, .container3-circular {
    position: relative;
    height: 250px;
    width: 250px;
    background: conic-gradient(var(--main) 3.6deg,white 0deg );
    border: 5px solid var(--sec) ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  .container1-circular::before, .container2-circular::before, .container3-circular::before {
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 5px solid var(--sec) ;
  }

  .customP{
    font-size: 30px;
    color: var(--acc);
  }

  .h5Counter1{
    margin-left: 20px;
    font-weight: bold;
    -webkit-text-stroke: 0.5px var(--main);
  }

  .h5Counter2{
    margin-left: 35px;
    font-weight: bold;
    -webkit-text-stroke: 0.5px var(--main);
  }

  .h5Counter3{
    margin-left: 65px;
    font-weight: bold;
    -webkit-text-stroke: 0.5px var(--main);
  }



/* css card */
.h2Annunci{
    color: var(--main);
    -webkit-text-stroke: 4px #000000;
    justify-content: center;
    margin-top: 10px;
    margin-top: 10vh;
}
 .customCard{
    border: solid 5px var(--acc);
    border-radius: 10%;
    image-rendering: auto;
    height:475px;
}

.btnCustom{
    background-color: var(--sec);
    border: solid 3px var(--main);
    color: var(--acc); 
}

.btnCustom:hover{
    background-color: var(--main);
    border: solid 5px var(--sec);
    color: var(--acc);
} 

/* css off canvas */
h5{
    font-family: 'Poppins';
    color: var(--acc);
    font-size: 25px;
}

.h2OffCanvas{
    -webkit-text-stroke: 2px var(--acc); 
    color: var(--main);
    font-size: bold;
} *

.offcanvasbg{
    background-color: var(--sec);
}

/* css card chi siamo */
.pfont{
    font-family: 'Poppins';
    font-size: 25px;
    margin-top: 50px;
    color: var(--acc);
 }
 
 .cardChiSiamo{
    border-radius: 10px;
    border: solid var(--acc)
 }
 
 .cardTitle{
    font-family: 'Madimi One';
    color: var(--main);
    -webkit-text-stroke: 2px var(--acc)
 }
 
 .cardTitle:hover{
    color: var(--sec);
 }
 
 .cardDescription{
    color: var(--acc);
 }
 
 .h3{
    color: var(--sec);
    font-size: 20px;
    font-weight: bold;
 }
 
 .h3:hover{
    color: var(--main);
 }
 
 .h2headerPlus{
    margin-top: 10vh;
 }

/* CSS footer */
footer{
    margin-top: 80px;
    background-color: var(--acc);
    color: var(--sec);
  }

  .footer{
    min-height: 40vh;

  }

  ul{
    list-style-type: none;
  }

  .customFooter{
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }

  .fontPfooter{
    font-family: "Madimi One";
    font-weight: bold;
    color: var(--sec);
    font-size: x-large;
  }

  .fontPfooter2{
    font-family: "Madimi one";
    font-weight: bold;
    color: var(--main);
    margin-left: 8px;
    font-size: x-large;
  }

  .ulFooter{
    font-family: "Poppins";
  }

  .customInput{
    border-radius: 10px;
    border-color: var(--sec);
    border-width: 3px;
    height: 50px;
  }

  .aCustom{
    text-decoration: none;
    color: var(--sec);
    font-size: 20px;
  }

  .biSize{
    font-size: 20px;
  } 

/* media query per responsive */

@media screen and (max-width: 670px) {

    .custom-vh{
        height: 75px;
    }
   .list-link{
    text-align: end;
    }
   .navbar-nav{
    padding-right: 0px !important;
    }
    .bi-cart2{
        margin-right: 14px !important;
    }
    h1{
      padding-top: 150px !important;  
    }
    .btnOrder{
        margin-top: 10px;
        height: 35px;
        
    }
    .responsiveFooter{
        margin-bottom: 20px;
    }
    .ulFooter{
        margin-top: 20px;
    }
    .customFooter{
        margin-top: 20px;
    }
    .cardChiSiamo{
        margin-top: 10px;
    }
    .responsiveCounter{
        display: flex;
        flex-direction: column;
    }
    .responsiveCounter2{
        margin-top: 30px;
    }
    .responsiveCounter3{
        margin-top: 30px;
    }
    .h5Counter1{
        margin-left: 115px;
    }
    .h5Counter2{
        margin-left: 125px;
    }
    .h5Counter3{
        margin-left: 155px;
    }
    
    .swiperTitle{
        text-align: center;
    }


}